<div class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="assets/template/rocker/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
    </div>
    <div>
      <h4 class="logo-text">MyGudang</h4>
    </div>
    <div class="toggle-icon ms-auto"><i class='bx bx-arrow-back'></i>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li *ngFor="let menu of menus">
      <a href="{{menu.url}}">
        <div class="parent-icon"><i class='{{menu.label}}'></i>
        </div>
        <div class="menu-title">{{menu.name}}</div>
      </a>
    </li>
  </ul>
</div>
