<!--wrapper-->
<!--<div class="wrapper">-->
  <router-outlet></router-outlet>
  <!--start overlay-->
<!--  <div class="overlay toggle-icon"></div>-->
<!--  &lt;!&ndash;end overlay&ndash;&gt;-->
<!--  &lt;!&ndash;Start Back To Top Button&ndash;&gt;-->
<!--  <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>-->
<!--  &lt;!&ndash;End Back To Top Button&ndash;&gt;-->
<!--  <footer class="page-footer">-->
<!--    <p class="mb-0">Copyright © 2023. All right reserved. Crafted by <a href="https://github.com/alexistdev">AlexistDev</a></p>-->
<!--  </footer>-->
<!--</div>-->
<!--end wrapper-->
